{%extends "base.html" %}

    {% if messages %} 
      {% for message in messages %}
          <p>   {{ message }} </p>
      {% endfor  %}
    {% endif %}


{% block content  %}
     <table border="1" cellspacing="0" cellpadding="3px">
       <tr><td align="center"<strong><b>Upload Targets</b></strong></td></tr>
       <tr><td>
          <p style="width:500px">Upload Target/Forecast csv file here. The data 
        must be in the following format:<br> <b>Plan Type</b>,<b>Expense Category</b>,<b>Year Month</b>, <b>Amount</b>, <b>User</b>  </p> 

    <form id="upload_form" method="post" action="{% url 'upload_expense_csv' %}" enctype="multipart/form-data">
     {% csrf_token  %}
         <table>
          <tr><td> <input type="file" name="targetfile"  size="110" /></td></tr>         </table> 
         <input type="submit" name="submit"  value="Upload" />
     </form>

   <font color="green">
    <strong>Please be patient. This process may  take a few seconds depending on the number of records.</strong><br/>
   </font> 
{% endblock %}
