<doctype html>
<html>
    <head>
        <title>Manage Expenses</title>
    </head>

   <style>

   body {
       background-color : #b0c4de;
   }

   p {
       color:red;
       text-align:left;
   } 

   h1 {
       font-family:Arial,Helvetica,sans-serif;
       font-size:100%;
       color:blue;
       text-align:left;
   }  
  
   table {
       border:1px solid black;
   }

  label {
       font-family:Arial,Helveticia,sans-serif;
       font-size:100%;
       text-align:left;
  }

   textarea {
       height: 60px;
       width:  500px;
   }

  </style>  
  
    {% if messages %} 
      {% for message in messages %}
      
      <p>   {{ message }} </p>
      {% endfor  %}
    {% endif %}
    <body>
       <h1> Add a new Expense  : </h1>
      <div>
        <form id="add_expense_form" method="post" action="/save_expense/" >
        {% csrf_token  %}
        <table>
            {% for field in form %}
                <tr>
                    <td> {{ field.label_tag }}</td><td> {{ field }}</td>  
            {% endfor %}
                </tr>
        </table>
            <input type ="submit" name="Add Expense"  value="Submit"  />
       
        </form>
      </div>
    </body>
         
</html>
